* {
	margin:0;
	padding:0;
	}

body {
	}

#outer-wrapper {
	background: #ffffff;
	width:1000px;
	margin: 5px auto;
	overflow:hidden;
	box-shadow: 7px 7px 4px #cccccc;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	}

#header-wrapper {
	width:100%;
	overflow:hidden;
	background-color: #ffffff;
	margin: 10px 10px 10px 10px;
	}

#header {
	padding: 100px;
	width:262px;
	overflow:hidden;
	float:left;
	}

#header-ads {
	width:728px;
	overflow:hidden;
	float:right;
	}

.header .widget {
	padding:10px;
	}

/* EDIT HEADLOGO */

ul.ma {
	width:100%;
	height:50px;
	line-height:40px;
	background-color: #272822;
	}

li.ma {
	display:inline;
	}

.logo{
	float: left;
	font-size: 40px;
	font-family: Impact, Charcoal, sans-serif;
	color: #FFFFFF;
	margin-top: 5px;
	margin-left: 10px;
	text-transform: uppercase;
	list-style-type: none;
	}

.kananlogout {
	border: 1px;
	border-style: solid;
  	border-radius: 5px;
	float: right;
	font-size: 14px;
	margin: 3px 10px;
	padding: 0px 10px;
	text-transform: uppercase;
	font-family: arial;
	font-weight: bold;
	color: #FFFFFF;


	}

a {
	color: #FFFFFF;
	text-decoration: none;
	}

.kananlogout:hover{           
	background: #333333;    
	}

/* AKHIR EDIT HEAD LOGO */

/* AWAL EDIT MENU*/

#menu {
	}

.menuul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #272822;
    font-family: arial;

	}

.menuul li {
	float: left;
	}

.menuul a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}

.menuul li a:hover:not(.active) {
    background-color: #4d4d4d;
	}

.menuul li a.active {
    color: white;
    background-color: #4CAF50;
	}




/* AKHIR EDIT MENU*/

/* AWAL KONTEN*/
#main-wrapper {
	margin: 0 auto;
	padding: 25px;
	overflow:hidden;
	background-color: #ffffff;
	}
/*AKHIR KONTEN*/

/*AWAL BOTTOM WIDGET*/
#bottombar {
	background:#454545;
	border-top:6px solid #e5e5e5;
	overflow:hidden;
	margin:0 auto;
	padding:15px;
	color:#dddddd;
	}
#bottombar .left {
	float:left;
	width:34%;
	}
#bottombar .center {
	float:left;
	width:34%;
	}
#bottombar .right {
	float:right;
	width:32%;
	}
#bottombar .left .widget, #bottombar .center .widget {
	margin:0 15px 15px 0;
	}
#bottombar .right .widget {
	margin:0 0 15px 0;
	}
#bottombar h2 {
	font:normal bold 13px Arial, sans-serif;
	margin:0 0 10px 0;
	padding:6px 0;
	border-bottom:2px solid #555;
	text-transform:uppercase;
	position:relative;
	color:#eeeeee;
	}
#bottombar h2:after {
	content:" ";
	width:90px;
	height:0px;
	position:absolute;
	left:0;
	bottom:-2px;
	border-bottom:2px solid #eeeeee;
	}
#bottombar ul, #bottombar ol {
	list-style-type:none;
	margin:0 0 0 0;
	padding:0 0 0 0;
	}
#bottombar li {
	margin:5px 0;
	padding:0 0 0 0;
	}
#bottombar ul li:before {
	color:#eeeeee !important;
	}
#bottombar a {
	color:#dddddd;
	}
#bottombar a:hover {
	color:#ffffff;
	}

/*AKHIR BOTTOM WIDGET*/

/*AWAL FOOTER*/

#footer-wrapper {
	background:#272822;
	margin:0 auto;
	padding:20px 5px;
	overflow:hidden;
	color:#666666;
	font-size:14px;
	font-family: arial;
	}
.footer-left {
	float:left;
	margin:10px;
	}
.footer-right {
	float:right;
	margin:10px;
	}
#footer-wrapper a {
	color:#eeeeee;
	}
#footer-wrapper a:hover {
	color:#ffffff;
	}

/*AKHIR FOOTER*/